@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --main-color: #deab5f;
    --primary-color: #312e2e;
}
/* utilies Styles */
button{
    /* first is for top and bottom and second is for left and right */
    padding: 10px 30px; 
    background-color:var(--main-color);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}
body{
    background-color: #000000;
}
/* nav -- start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px;
    font-family: sans-serif;
}
li{
    display: inline;
    list-style: none;

}
li a{
    /* we are using li a so that we target all the a tag currently used  */
    color: white;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 5px;
}
/* below is code for the hover effects */
li a:hover{
    border-bottom:2px solid var(--main-color) ;
}
/* nav --ends */

/* header--- starts */
header{
    /* background: url(https://images.unsplash.com/photo-1519060825752-c4832f2d400a?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background: url(https://images.wallpaperscraft.com/image/single/coffee_cappuccino_cup_1190365_1366x768.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "playfire Display", serif;
    font-weight: normal;
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}
.main-heading{
    position: absolute;
    top: 13rem;
    font-size: 8rem;
    word-spacing: 10px;
}
.primary-heading{
    position: absolute ;
    bottom: 14rem;
    font-size: 6rem;
    word-spacing:10px;
    margin-bottom: -40px;
}
.main-btn{
    position: absolute;
    bottom: 7rem;
    padding: 10px 30px;
    margin-top: 10px;
}
/* start of our story */

#Our-Story{
    height: 100vh;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
/* new method here image is in img container and using img to manupulate the image */
.img img{
    object-fit: contain;
    transform: translate(20px,37px);
}
/* old method here image is in div
 .img{
    width: 800px;
    height: 400px;
    background-position: center;
    background: url(./Asset/main\ coffee.png);
    background-size: cover;
    z-index: 1;
} */
.title.style{
    display: flex;
    align-items: center;
}
.title{
    font-family: "Playfire Display",serif;
    font-size: 4rem;
    color: white;

}
.line{
    display: flex;
    justify-content: center;
    width: 90px;
    height: 2px;
    background: white;
    transform: translate(-110px, 40px);
}
.section-content p{
    max-width: 500px;
    color: white;
    font-family: sans-serif ;
    height: 20px;
    margin: 20px 0px;
    word-spacing: 5px;
    font-size: 17px;
}
.btn-2{
    transform: translateY(60px);
}


/* our story ends */

/* cofee starts  */

.coffe-container{
    height: 80vh;
    display: flex;
    margin-top: 6%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
.img-container img{
    object-fit: contain;
}
.title-two{
    font-size: 3rem;
    color: white;
    word-spacing: 5px;
    font-family: serif;
}
.content-section p{
    max-width: 500px ;
    color: white;
    font-size: 23px;
    margin-top: 20px;
    word-spacing: 5px;
    font-family: sans;
}
.btn-coffee{
transform: translateY(10px);}
/* coffee ends */

/* products section start */
.products{
    margin-top: 5%;
}
.title-three{
    font-size: 4rem;
    margin: 10rem 10rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.card{
    border: 3px outset var(--main-color);
    padding: 10px 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    position: relative;
    margin-bottom: 5rem;
}
.card-img{
    width: 150px;
    height: 150px;
    position: absolute;
    
    top: -60px;
    /* border: 2px solid white; */
}
.img-one img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;

}
.img-two img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;

}
.img-three img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;
}
.card-title{
    font-size: 20px;
    align-items: center;
    padding-top: 50px;
    color: white;
    font-family: sans-serif;
}
.items p{
    color: white;
    font-size: 17px;
    margin: 10px 0px;
    font-family: sans-serif;
}
/* products section ends */
/* footer starts */
footer{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}
footer .container{
    margin: 20px;
    max-width: 500px;
    text-align: center;
}
footer .heading-info{
    margin-bottom: 20px;
}
footer p{
    line-height: 25px;
}
.para{
    font-size: 18px;
}
footer span{
    color: var(--main-color);
}
.crp-con{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
}
.crp span{
    color: var(--main-color);

}
/* footer ends */